body {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.element {
  height: 200px;
  width: 200px;
  background-color: #0071ff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 1.35rem;
  color: white;
  animation-name: spin;
  animation-duration: 3s;
  animation-delay: 5s;
  animation-iteration-count: infinite;
}

@keyframes spin {
    0%{

    }
    50%{
        scale: 2;
        transform: rotate(0);
        border-radius: 0;
    }
    100%{
        transform: rotate(360deg);
        border-radius: 50%;
        scale: 2;
    }
}
