body {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.box {
  height: 50px;
  width: 50px;
  border: 5px solid pink;
  border-radius: 50%;
  box-shadow: 0 0 8px pink, 0 0 8px pink inset;
  animation: loading 2s ease-in infinite;
}

@keyframes loading {
    0%{
        transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
    33%{
        transform: rotateX(180deg) rotateY(0deg) rotateZ(0deg);
    }
    67%{
        transform: rotateX(180deg) rotateY(180deg) rotateZ(0deg);
    }
    100%{
        transform: rotateX(180deg) rotateY(180deg) rotateZ(180deg);
    }
}
