.scroll-element {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: auto auto;
  gap: 12px;
}

.block-1 {
  background-color: wheat;
}

.block-2{
    background-color: orange;
}

.block-3{
    background-color: red;
}

.block-4{
    background-color: orangered;
}

.block-5{
    background-color: aquamarine;
}

.block-6{
    background-color: grey;
}

.block-7{
    background-color: burlywood;
}

.block-8{
    background-color: darkkhaki;
}

.block-9{
    background-color: blue;
}

.block-10{
    background-color: cadetblue;
}

.block-11{
    background-color: chartreuse;
}

.block-12{
    background-color: chocolate;
}

.block-13{
    background-color: cornflowerblue;
}

.block-14{
    background-color: darkmagenta;
}

.block-15{
    background-color: dodgerblue;
}

.block-16{
    background-color: hotpink;
}

.block-17{
    background-color: honeydew;
}

.block-18{
    background-color: darksalmon;
}

.block-19{
    background-color: lavender;
}

.block-20{
    background-color: aquamarine;
}
.block {
  border: 1px solid black;
  width: 200px;
  height: 200px;
  animation: scrolling linear;
  animation-timeline: view();
  animation-range: entry 0% cover 50%;
}

@keyframes scrolling {
  from {
    opacity: 0;
    transform: translateX(-150px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
